
<div style="padding: 5%">
    <form action="/branch/" method="post">

        <input type="text" name="branch_title" id="branch_title" placeholder="Branch Title" required />
        <textarea type="text" name="branch_content" id="branch_content" placeholder="Branch Text" required></textarea>

    </form>
</div>

<script>


    
</script>