
<div style="padding: 5%">
    <form action="/branch/" method="post">

        <input type="text" name="branch_title" id="branch_title" placeholder="Branch Title" required />
        <textarea type="text" name="branch_content" id="branch_content" placeholder="Branch Text" required></textarea>
        <input type="text" name="received_item" id="received_item" placeholder="Player receives item" />
        
    </form>
</div>

<script>


    
</script>