<a href="/branch/{{fail_branch}}/" data-next-branch="{{censor fail_branch}}" class="choice options hidden">
    <div data-next-branch="{{censor fail_branch}}">
        {{censor choice_text}}
    </div>
</a>



