    
    
    {{!-- {{#if session.storyInventory}}
        <div class="inventory-box">
            <ul>
                {{#each session.storyInventory}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    {{/if}} --}}


    <div id="notepad" class="notepad notepad-gone">
        <div style="text-align: center; padding-bottom: 0">Inventory</div>
        <div style = "padding: 15%">
        <ul id="inventoryList">
            {{#each session.storyInventory}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        </div>
    </div>
