<div class="modal fade" id="newBranchModal" tabindex="-1" role="dialog" aria-labelledby="newBranchModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newBranchModalCenterTitle">New Story Branch</h5>
        <button type="button" class="close btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <input type="text" class="form-control" name="choice_text" id="choice_text" placeholder="choice text" required autocomplete="off"/>




        <label for="required_item">uses item:</label>
        <select 
            class="form-control" 
            name="required_item" 
            id="required_item" 
            placeholder="required item"
            autocomplete="off"
            > 
        <option value="null">no</option> 

        <!-- options filled by javascript -->
        
        </select>
        <div class="hidden" id="removeItemOption">
        <input type="checkbox" name="remove_item" id="remove_item" />
        <label for="remove_item">remove/destroy item?</label>
        </div>
       
        <label for="use_old_branch">go to branch:</label>
        <select 
            class="form-control" 
            name="use_old_branch" 
            id="use_old_branch" 
            placeholder="use existing branch"
            autocomplete="off"
            > 
        <option value="null">no</option> 
        
        <!-- options filled by javascript -->
        
        </select>

        <div id="writeNewBranchOption">
          <input type="text" class="form-control" name="next_branch_title" id="next_branch_title" placeholder="next branch title" maxlength="24" required autocomplete="off"/>
          <textarea class="form-control" name="next_branch_content" id="next_branch_content" placeholder="next branch content" rows="5" required autocomplete="off"/></textarea>
          <input type="text" class="form-control" name="received_item" id="received_item" placeholder="optional received item" maxlength="16" autocomplete="off"/>
          <input type="checkbox" name="end_here" id="end_here" />
          <label for="end_here">Game over?</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveNewBranch">Save changes</button>
      </div>
    </div>
  </div>
</div>

