

<div>
    <a href="
        {{#if next_branch}}
            /branch/{{next_branch}}/
        {{else}}
            /branch/create/{{id}}/
        {{/if}}
    ">
        <div>
            {{choice_text}}
        </div>
    </a>
</div>