

<div class="my-2">
    <a href="/branch/{{next_branch}}/">
        <div>
            {{choice_text}}
        </div>
    </a>
    {{!-- {{#unless session.branchData.start_here}}
    <a href="/branch/{{branch_id}}/">
        <div>
            make another choice on the previous branch
        </div>
    </a>
    {{/unless}} --}}
</div>