
<div>
    <div>{{session.branchData.branch_title}}</div>
    <div>{{session.branchData.branch_content}}</div>
</div>

<div style="padding: 5%">
    <form action="/choice/" method="post">
        <input type="text" name="choice_text" id="choice_text" placeholder="choice text" required />
        <input type="text" name="required_item" id="required_item" placeholder="required item" required />
        <input type="text" name="next_branch_title" id="next_branch_title" placeholder="next branch title" required />
        <input type="text" name="next_branch_content" id="next_branch_content" placeholder="next branch content" required />
        <input type="text" name="received_item" id="received_item" placeholder="optional received item" />
    </form>
</div>