---

import BaseLayout from "./BaseLayout.astro"




---
	<BaseLayout title="loom">
    <div class="crt-frame">
			<div class="crt">
				<slot />
			</div>
    </div>
  </BaseLayout>


<style is:global>


  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 400px;
    align-items: space-between;
  }

  ::-webkit-scrollbar {
      width: 1em;

  }

  ::-webkit-scrollbar-track {
      background-color: var(--crt-background);
  }
  
  ::-webkit-scrollbar-corner {
      background-color: var(--crt-background);
  }

  ::-webkit-scrollbar::after {
      background-color: var(--crt-main);
  }

  ::-webkit-scrollbar-thumb {
      background-color: var(--crt-main);

  }

  .hidden {
    display: none;
  }


  .crt button  {
    display: inline-flex;
    font-family: 'Tandy', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: var(--crt-background);
    background-color: var(--crt-main);
    border: none;
    filter: drop-shadow(var(--crt-glow) 0 0 0.65rem );
    padding: 5px 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    transition: all 0.42s ease-in-out;
    max-height: 50px;
  }

  .crt button:hover {
      color: var(--crt-background);
      background-color: var(--crt-main);
      filter: drop-shadow( var(--crt-glow) 0 0 0.85rem);
  }

  .crt button:active {
      color: var(--crt-background);
      background-color: var(--crt-main);
      filter: drop-shadow(var(--crt-glow) 0 0 1.05rem );
  }


  .crt-frame {
    border-color: rgb(32, 32, 32) rgb(44, 44, 44)  rgb(51, 50, 50) rgb(39, 39, 39);
    border-width: 25px;
    border-style: solid;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%) ;
    border-radius: var(--crt-border-radius);
    filter: drop-shadow(0 0 2.75rem var(--crt-glow));

  }

  .crt  {
    font-family: 'Tandy', monospace;
    font-size: 10px;
    min-width: 640px;
    min-height: 480px;
    max-width: 640px;
    max-height: 480px;

    padding: var(--crt-padding);
    background-color: var(--crt-background);
    color: var(--crt-text);
    filter: contrast(1.6) brightness(1.1) saturate(1.2);
    text-rendering: geometricPrecision;
    overflow: hidden;
  }

  .crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: 
    var(--green-pixels);

    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    border-radius: var(--crt-border-radius);
  }

  .crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
    border-radius: var(--crt-border-radius);
  }

  .passage {
    flex: 1 0 175px;
    display: inline-block;
    font-family: 'Tandy', sans-serif;
    min-height: 50%;
    margin: 50px;
    overflow-y: scroll;
    font-size: min(1rem, 1.5vh);
  }

  .passage p {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  #choices {
    flex: 1 0 125px;
    flex-direction: column;
    display: none;
    justify-content: end;
    height: 100%;
    width: 100%;
  }








    .checkbox-inline {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    ::placeholder {
        color: var(--crt-shadow);
    }



    .new-branch-form input:focus, textarea:focus {
        outline: none;
        filter: drop-shadow(0 0 0.5rem var(--crt-glow));
    }

    .new-branch-form::after input:focus, textarea:focus {
        position: relative;
        z-index: 2;

    }

    .new-branch-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            padding: 2rem;
            height: 100%;
            max-height: 100%;

    }

    .new-branch-form input, textarea {
        margin: 1rem 0;
        padding: 1rem;
        width: 100%;
        height: 100%;
        border: 1px solid #000;
        font-family: 'Tandy', sans-serif;
        background-color: var(--crt-text);
        border-radius: 0;
        caret-color: var(--crt-background);
    }

    input[type="checkbox"] {
      width: 1.5rem;
      height: 1.5rem;
      vertical-align:middle;
      accent-color: var(--crt-text);
      border-radius: none;
    }

    input[type="checkbox"]::after {
      position: relative;
      width: 100%;
      height: 100%;
      content: "";
      display: block;
      
      background-color: var(--crt-text);
      pointer-events: none;
    }

    input[type="checkbox"]:checked::after {
      display: none;
    }




  @media screen and (prefers-reduced-motion: reduce) {
    .crt::after {
      animation: none;
    }
  }

  @media screen and (max-width: 768px), (display-mode: fullscreen) {
    main {
      max-height: unset;
      height: 100%;
    }
    .passage {
      max-height: unset;
      font-size: min(2vh, 1rem);
    }

    .crt-frame {
      border: 0;
      transform: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      
    }
    .crt {
      min-height: 100vh;
      min-width: 100vw;      
    }



  }

</style>
