{{{body}}}


    <div id="branchHistory" style="display: none">
    {{#each session.branchHistory}}
        
        <input type="hidden" data-branch-id="{{this.id}}" data-title="{{this.title}}">
        
    {{/each}}
    </div>

    <div id="storyInventory" style="display: none">
    {{#each session.storyInventory}}
        <input type="hidden" data-item-name="{{this}}">
    {{/each}}
    </div>

<script>

$(document).ready(() => {
    loadedNewContent()
    console.log('loaded new content')   
})

</script>