
  <div class="crt">
    {{> header}}

    <input type="hidden" id="storyID" value="{{session.branchData.story_id}}"/>



    <div class="scrollable-content">
        
        <div class="passage" data-type-text="{{session.branchData.branch_content}}"></div>
        <input type="hidden" class="storyID" id="storyTitle" value="{{session.branchData.story_id}}"/>

    </div>

    <div>

        {{#each session.branchData.choices}}
            {{> choice this}}
        {{/each}}

        {{#if session.branchData.end_here}}
        <div style="text-align: center;" class="choice hidden">Game Over</div>
        <a href="/" class="choice hidden"><div style="text-align: center;">Try Again</div></a>
        {{else}}
        {{#maximum session.branchData.choices 3}}
        <a href="#" id="newChoiceButton" class="choice hidden" data-bs-toggle="modal" data-bs-target="#newBranchModal">
            <div>Create Choice</div>
        </a>
        {{/maximum}}
        {{/if}}

    </div>

    {{> footer}}
  </div>
    
    {{>inventoryDisplay}}
    {{> newBranchModal}}
  