

<!--blog-->


<div class="">
    {{#if session.loggedIn}}

    
    {{!-- {{#each session.choice_history}}
        {{> branchDisplay @last}}
    {{/each}}
    {{else}} --}}

    {{#each stories}}
        {{> storylist this}}
    {{/each}}

    <a href="/story">Click to start a new story</a>

    {{/if}}


</div>




