

<!--blog-->



    {{#if session.loggedIn}}

    

    {{#each stories}}
        <a href="/story/{{id}}">
            <div>
            {{story_title}} {{story_content}}
            </div>
        </a>
    {{/each}}

    <a href="#" id="newStoryButton"><div>Click to start a new story</div></a>

    {{/if}}







