




    {{> header}}

    {{#if session.loggedIn}}

    <div class="scrollable-content">
    {{#each stories}}
        <a href="/branch/main/{{start_branch}}">
            <div>
            {{story_title}}
              <div>{{story_content}}</div>
            </div>
        </a>
    {{/each}}
    </div>

    
    <a href="#" data-bs-toggle="modal" data-bs-target="#newStoryModal">
    <div>Start a new story</div>
    </a>
    
    {{/if}}
    {{> footer}}



