



  <div class="crt">
    {{> header}}

    {{#if session.loggedIn}}

    
    <div style="scrollable-content">
    {{#each stories}}
        <a href="/story/{{id}}">
            <div>
            {{story_title}} {{story_content}}
            </div>
        </a>
    {{/each}}
    </div>

    
    <a href="#" data-bs-toggle="modal" data-bs-target="#newStoryModal">
    <div>Start a new story</div>
    </a>
    
    {{/if}}
    {{> footer}}
  </div>


  <div class="modal fade" id="newStoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">New Story</h5>
        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" name="story_title" id="story_title" placeholder="Story title" required autocomplete="off"/>
        <input type="text" class="form-control" name="story_content" id="story_content" placeholder="Story preface" required autocomplete="off"/>
        <input type="text" class="form-control" name="branch_title" id="branch_title" placeholder="Starting Branch Title" required autocomplete="off"/>
        <textarea class="form-control" name="branch_content" id="branch_content" placeholder="Starting branch content" rows="5" required autocomplete="off"/></textarea>
        <input type="text" class="form-control" name="received_item" id="received_item" placeholder="optional received item" autocomplete="off"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveNewStory">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">New User</h5>
            <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="text" class="form-control" id="signupAuthorName" placeholder="author name" autocomplete="off">
            <input type="text" class="form-control" id="signupEmail" placeholder="email" autocomplete="off">
            <input type="password" class="form-control" id="signupPassword" placeholder="password" autocomplete="off">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveNewStory">Save changes</button>
          </div>
        </div>
      </div>
    </div>