



  <div class="crt">
    {{> header}}

    {{#if session.loggedIn}}

    <div style="scrollable-content">
    {{#each stories}}
      {{log this}}
        <a href="/branch/{{start_branch}}">
            <div>
            {{story_title}}
              <div>{{story_content}}</div>
            </div>
        </a>
    {{/each}}
    </div>

    
    <a href="#" data-bs-toggle="modal" data-bs-target="#newStoryModal">
    <div>Start a new story</div>
    </a>
    
    {{/if}}
    {{> footer}}
  </div>


{{> newStoryModal}}

{{> newUserModal}}