@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

:root {
  --crt-main: #66ff00;
  --crt-shadow: #89bb68b6;
  --crt-text: #44ee00;
  --crt-background: #272717;
  --panel-color: #c6ccab;
  --crt-border-radius: 20px;
  --crt-padding: 1.5rem;
  --green-pixels: linear-gradient(90deg, rgba(0, 255, 0, 0.25), rgba(0, 255, 0, 0.25), rgba(0, 255, 0, 0.25));
  --cga-pixels: linear-gradient(90deg, rgba(255, 85, 85, 0.15), rgba(85, 255, 85, 0.15), rgba(85, 255, 255, 0.15));
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: var(--panel-color);
    letter-spacing: 1px;
}

.modal-content {
  background-color: var(--crt-background);
  color: var(--crt-text);
  font: 1rem 'VT323', monospace;
}

.passage {
    display: inline-block;
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    position: relative;
    background-color: var(--crt-background);
    color: var(--crt-text);
    border-radius: 15px;
    padding: 1.5rem;
    min-height: max-content;
}


.crt  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'VT323', monospace;
    font-size: 2cqw;
    position: absolute;
    left: 50%;
    bottom: 50%;
    padding: var(--crt-padding);
    background-color: var(--crt-background);
    color: var(--crt-text);
    border-radius: var(--crt-border-radius);
    min-width: 960px;
    max-width: 960px;
    min-height: 720px;
    max-height: 720px;
    filter: contrast(1.6) brightness(1.1) saturate(1.2) drop-shadow(0 0 1.75rem #66ff0052);
    transform: translate(-50%, 50%);
    
}

.crt a {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    text-decoration: none;
    color: var(--crt-background);
}

.crt a div, .crt a div:visited, .crt a div:active {
    background-color: var(--crt-main);
    color: var(--crt-background);
    filter: drop-shadow(0 0 0.65rem var(--crt-shadow));
    padding: 0.5rem 1rem;
    margin: 1.5rem 0;
}

.crt a div:hover {
    color: var(--crt-background);
    background-color: var(--crt-main);
    filter: drop-shadow(0 0 1.05rem var(--crt-shadow));
}

.crt a div div {
  background-color: var(--crt-background);
  color: var(--crt-text);
}

.crt a div div:hover {
  background-color: var(--crt-background);
  color: var(--crt-text);
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 
        linear-gradient(rgba(5, 5, 5, .1) 50%, rgba(5, 5, 5, 0.4) 50%), 
        var(--green-pixels);
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    border-radius: var(--crt-border-radius);
  }


  
  .crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(16, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
    border-radius: var(--crt-border-radius);
  }




.hidden {
    display: none;
}


@keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.90626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.83891;
    }
    30% {
    opacity: 0.65583;
    }
    35% {
    opacity: 0.67807;
    }
    40% {
    opacity: 0.26559;
    }
    45% {
    opacity: 0.84693;
    }
    50% {
    opacity: 0.96019;
    }
    55% {
    opacity: 0.08594;
    }
    60% {
    opacity: 0.20313;
    }
    65% {
    opacity: 0.71988;
    }
    70% {
    opacity: 0.53455;
    }
    75% {
    opacity: 0.37288;
    }
    80% {
    opacity: 0.71428;
    }
    85% {
    opacity: 0.70419;
    }
    90% {
    opacity: 0.7003;
    }
    95% {
    opacity: 0.36108;
    }
    100% {
    opacity: 0.24387;
    }
  }
  
  .passage::after {
    position: absolute;
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    content: "\2588";
    animation: cursor-blink 1.5s steps(2) infinite;
  }

  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }
  
.inventory-box {
    font-family: 'Press Start 2P', cursive;
    font-size: medium;
    position: fixed;
    top: 150px;
    right: 10px;
    color: #404140;
    background-color: var(--crt-main);
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    filter: drop-shadow(0 0 0.30rem var(--crt-shadow));
    z-index: 1;
    pointer-events: none;
    
}

.inventory-box ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

.scrollable-content {
    max-height: calc(100vh - 40px);
    overflow-y: auto;
}

.scrollable-content::-webkit-scrollbar {
    width: 0.5rem;
}

.scrollable-content::-webkit-scrollbar-track {
    background-color: var(--crt-background);
}

.scrollable-content::-webkit-scrollbar-thumb {
    background-color: var(--crt-main);
    border-radius: 1rem;
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
    background-color: var(--crt-shadow);
}

  @media screen and (max-width: 960px), (display-mode: fullscreen) {
    .crt {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        transform: none;
        min-width: 100%;
        min-height: 100%;
    }
    body {
        background-color: black;
    }
  }


