---
import Layout from './layouts/crt.astro';
import Header from './partials/Header.astro';
import Branch from './partials/Branch.astro';
---

<Layout title="loom.">
	<Header />
	<main>
		<Branch />
	</main>
</Layout>

<style>

</style>
