---
import Layout from './layouts/crt.astro';
import Header from './partials/Header.astro';

---

<Layout title="loom.">
	<Header />
	<main id="main">

			<button 
				hx-get="/api/stories"
				hx-trigger="load"
				>Load Stories
			</button>		
			

	</main>
	<script>
		htmx.onLoad(function(evt) {
			if (evt.id === 'passage') {
				typeItOut();
			}
		});
	</script>
</Layout>

