---
import { getSession } from 'auth-astro/server'
const session = await getSession(Astro.request)
import Notepad from "./Notepad.astro";
import BranchButton from "./BranchButton.astro";
import type { branchSchema } from '../../../lib/models/Branch';

export const partial = true;


const { branchData } = Astro.props;
const { content, choices, audio, gameOver, _id: id } = branchData;



---


<main id="main" hx-swap-oob="innerHTML">

        <div id="passage" class="passage" data-type-text={content} data-audio-track={audio} />
        <div id="choices" class="choices">
            { gameOver
                ? <div>game over</div>
                : choices.map((choice: branchSchema) => <BranchButton branchData={choice} />)
            
            }

            { (choices.length < 3 && session) 
                ?   <button 
                        id="new-post-button"
                        class=""
                        hx-get={`/api/branch/new/${id}`}
                        hx-swap="innerHTML transition:true" 
                        hx-target="main"
                        >do something else
                    </button>
                : <div>sign in to make a new branch</div>
            }
        </div>
            
        
        
        
        
        <Notepad />


</main>



