---
import GoogleAuthButton from "./GoogleAuthButton.astro"
import { getSession } from 'auth-astro/server'
const session = await getSession(Astro.request)

export const partial = true;



---


<nav>
        <div class="title">
            <button id="home-button" hx-get="/partials/HomeScreen" hx-swap="outerHTML">
                LOOM
            </button>
        </div>

        <div>
            <GoogleAuthButton />
        </div>


    

</nav>



<style>

nav {
    max-height: 70px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

nav div {
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}


</style>