---



const title = "you hit your head on the ceiling"

const session = {
  loggedin: false,
  username: "Guest",
  branch: {
    id: "0"
  }
}

const {loggedin, username, branch} = session;

export const partial = true;

---


<nav>
        <div class="title">
        <button>
            loom
        </button>
        </div>


       <div>

            <button id="home-button" hx-get="/partials/HomeScreen" hx-swap="outerHTML">
                home
            </button>


            <button>
                log out
            </button>
        </div>


    

</nav>



<style>

nav {
    max-height: 70px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}


</style>