---



---
<button id="home-button" hx-get="/partials/HomeScreen" hx-swap="outerHTML">
    home
</button>


<main id="main" hx-swap-oob="outerHTML">
<button 
    hx-get="/api/stories"
    
    >Load Stories
</button>	
</main>

