---

const { currentBranchId } = Astro.props;

console.log(currentBranchId);

type Branch = {
    title: string;
    content: string;
}

const branch: Branch = {
    title: '',
    content: ''
}


---




    <form hx-post={`/api/branch/${currentBranchId}`}  
        class="new-branch-form" 
        id="new-branch-form"
        target="main" 
        hx-swap="innerHTML swap:1s"
        hx-transition="true"
        style = "width: 100%;"
        >


        <input
            value = {branch.title}
            name="title"
            id="title-input"
            placeholder = "What do you do?"
            type="text"
            required
        />
        

        <textarea
            
            value = {branch.content}
            name="content"
            id="story-input"
            placeholder="What happens?"
            rows="10"
            cols="50"
            required
        />

        </textarea>

        <button type="submit">do it</button> 

    </form>

</div>

<style>
    .new-branch-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 2rem;
        width: 100%;
        max-width: 600px;
    }

    input, textarea {
        margin: 1rem 0;
        padding: 1rem;
        width: 100%;
        height: 100%
        border: 1px solid #000;
        background-color: var(--crt-background);
        border-radius: 5px;
    }

    input::placeholder, textarea::placeholder {
        color: #000;
    }

    input:focus, textarea:focus {
        outline: none;
        border: 1px solid #000;
    }

    button {
        margin: 1rem 0;
        padding: 1rem;
        width: 100%;
        border: 1px solid #000;
        border-radius: 5px;
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }

    button:hover {
        background-color: #fff;
        color: #000;
    }

    button:focus {
        outline: none;
        border: 1px solid #000;
    }




</style>