---

import db from '../../../lib/db'

const storyData = await db.story.getAll()




---

<main id="main" hx-swap-oob="innerHTML">

    {storyData.map((story) => 
        <button 
            id="new-post-button"
            class=""
            hx-get={`/api/branch/${story.branch._id}`} 
            >{story.description}
        </button>
    )}
    <button id="theme-picker" hx-get="/partials/ThemePicker" hx-swap="outerHTML">
        Theme
    </button>

</main>